
<section class="overlape">
  <div class="block no-padding">
    <div data-velocity="-.1"
         style="background: url(images/resource/mslider1.jpg) repeat scroll 50% 422.28px transparent;"
         class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
    <div class="container fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner-header">
            <h3>Détails</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



  <section>
    <div class="block">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 column">
            <div class="job-single-sec style3">
              <div class="job-head-wide">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="job-single-head3">
                      <div class="job-thumb"> <img src="http://localhost:8080/upload/files/{{detaimlf.responsableCentreFormation.photo}}" alt="" /><span>12 Open Position</span> </div>
                      <div class="job-single-info3">
                        <h3>{{detaimlf.titre_Formation}}</h3>
                        <span><i class="la la-map-marker"></i>{{detaimlf.responsableCentreFormation.adresse}}</span><span class="job-is ft">Full time</span>
                        <ul class="tags-jobs">
                          <li><i class="la la-calendar-o"></i> {{detaimlf.duree_Formation}}</li>
                          <li><i class="la la-money"></i>{{detaimlf.prix_Formation}} </li>
                          <li><i class="la la-eye"></i> Vus 5683</li>
                        </ul>
                      </div>
                    </div><!-- Job Head -->
                  </div>
                  <div class="job-wide-devider">
                    <div class="row">
                      <div class="col-lg-8 column">
                        <div class="job-details">
                          <h3>Descreption De Formation</h3>
                          <p> {{detaimlf.discrepition}}</p>
                        </div>


                      </div>
                      <div class="col-lg-4 column">
                        <div class="job-overview">
                          <h3>formation</h3>
                          <ul>
                            <li><i class="la la-money"></i><h3>Prix formation</h3><span>800.000d</span></li>
                            <li><i class="la la-mars-double"></i><h3>type</h3><span>PFE</span></li>
                            <li><i class="la la-thumb-tack"></i><h3>durée</h3><span>4mois</span></li>
                          </ul>
                        </div><!-- Job Overview -->
                      </div>
                    </div>
                  </div>


                  <div class="col-lg-4">
                    <a class="apply-thisjob" href="#" title=""><i class="la la-paper-plane"></i>Appler</a>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>






