<section class="overlape">
  <div class="block no-padding">
    <div data-velocity="-.1"
         style="background: url(images/resource/mslider1.jpg) repeat scroll 50% 422.28px transparent;"
         class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
    <div class="container fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner-header">
            <h3>profile Responsable Formation</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="block no-padding">
    <div class="container">
      <div class="row no-gape">
        <aside class="col-lg-3 column border-right">
          <div class="widget">
            <div class="tree_widget-sec">
              <ul>
                <li><a routerLink="/profileCentre" title=""><i class="la la-file-text"></i>Mon Profile</a></li>
                <li><a routerLink="/listdemandeformation" title=""><i class="la la-briefcase"></i>la Liste de Demande Formation</a></li>
                <li><a href="/ajoutformation" title=""><i class="la la-money"></i>Ajouter Formation</a></li>
                <li><a href="#" title="" (click)="logout()"><i class="la la-unlink"></i>Logout</a></li>
              </ul>
            </div>
          </div>

        </aside>
        <div class="col-lg-9 column">
          <div class="padding-left">
            <div class="profile-title">
              <h3>Profile</h3>
              <div class="upload-img-bar">

                <img  class="rounded-circle"
                      src="http://localhost:8080/upload/files/{{resonsablecent?.photo}}"
                      height="100px"/>


              </div>


            </div>
            <div class="profile-form-edit">
              <form [formGroup]="registerCentreForm">
                <div class="row">
                  <div class="col-lg-6">
                    <span class="pf-title">Nom</span>
                    <div class="pf-field">
                      <input type="text" formControlName="nom"  placeholder="{{resonsablecent?.nom}}"/>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <span class="pf-title">prenom</span>
                    <div class="pf-field">
                      <input type="text" formControlName="prenom" placeholder="{{resonsablecent?.prenom}}"/>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <span class="pf-title">Email</span>
                    <div class="pf-field">
                      <input type="text" placeholder="{{resonsablecent?.email}}">
                    </div>
                  </div>




                  <div class="col-lg-3">
                    <span class="pf-title">adresse</span>
                    <div class="pf-field">
                      <input type="text"  formControlName="adresse" placeholder="{{resonsablecent?.adresse}}"/>
                    </div>
                  </div>

                  <div class="social-edit">
                    <h3>Social Edit</h3>

                    <div class="row">

                      <div class="col-lg-6">
                        <span class="pf-title">CHanger votre photo</span>
                        <div class="cfield">
                          <input type="file"  (change)="recuperFile($event)" >
                          <i class="la la-photo"></i>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="contact-edit">
                    <h3>Contact</h3>

                    <div class="row">
                      <div class="col-lg-4">
                        <span class="pf-title">Phone Number</span>
                        <div class="pf-field">
                          <input type="number"  formControlName="telephone" placeholder="{{resonsablecent?.telephone}}"/>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <span class="pf-title">Email</span>
                        <div class="pf-field">
                          <input type="email"  formControlName="email" placeholder="{{resonsablecent?.email}}"/>
                        </div>
                      </div>
<br><br>

                    </div>

                  </div>


                  <div class="col-lg-12">
                    <button  (click)="modifprofile()" type="submit">Update</button>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
